@import "../scss/theme.scss";
.sign-up-page,
.log-in-page {
  .auth-page {
    background-image: url("../assets/blob.svg");
    background-repeat: no-repeat;
    background-position-y: 35px;
    background-position-x: 70px;
    background-size: 33%;
    display: flex;
    height: 100vh;
    .left-information {
      width: 48vw;
      .signup-form-motto {
        font-weight: 600;
        font-size: 60px;
        width: 397px;
        margin-left: 120px;
        margin-top: 185px;
      }

      .signup-form-secondary-motto {
        width: 355px;
        height: 44px;
        margin-left: 120px;
        margin-top: 70px;
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
      }
      .text-already-have-account {
        width: 347px;
        height: 33px;
        margin-left: 120px;
        margin-top: 60px;

        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
      }
    }
    .signup-form {
      display: 48vw;
      width: 588px;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 10vh;
    }
    .signup-form * {
      flex-grow: 0;
    }
    .signup-form button {
      width: 588px;
      height: 64px;
      border-radius: 7px;
      font-family: $secondary-font-family;
      font-style: normal;
      font-weight: 400;
      font-size: 27px;
      line-height: 33px;
      cursor: pointer;
    }
    .signup-form button:hover {
      box-shadow: 5px $primary;
    }
    .form-input {
      height: 56px;
      border-radius: 4px;
      font-size: 22px;
      padding-left: 13px;
    }
    .signup-form label {
      background-color: $white;
      position: relative;

      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 24px;
      width: min-content;
      padding-left: 7px;
      padding-right: 7px;
      color: $secondary;
      left: 20px;
      bottom: -20px;
      text-align: center;
    }
    .sign-up-with-google {
      background-color: $white;
      border: 2px solid $border;
      .google-logo {
        width: 52px;
        height: 52px;
        float: left;
        margin-left: 40px;
      }
      .sign-up-with-google-text {
        line-height: 0px;
      }
    }
    .div-or {
      width: 588px;
      height: 32px;
      border-bottom: solid 1px $black;
      margin-bottom: 25px;
      margin-top: 30px;

      .text-or {
        position: relative;
        width: 42px;
        height: 30px;
        text-align: center;
        font-family: $secondary-font-family;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        background-color: $white;
        color: $black;
        bottom: 10px;
        left: 272px;
      }
    }
    .two-row {
      display: flex;
      justify-content: space-between;
      label {
        position: relative;
        top: 12px;
      }
    }
    .form-checkbox {
      margin-top: 20px;
      font-size: 22px;
      margin-bottom: 30px;
      * {
        display: inline;
      }
      .form-agree-checkbox {
        width: 20px;
        height: 20px;
        background: $white;
        border: 0.5px solid $black;
        border-radius: 3px;
        margin-right: 15px;
      }
    }
    .sign-up-button {
      border: none;
    }

    .forgot-password {
      float: right;
    }
  }
}
