@import "../scss/theme.scss";
@media only screen and (min-width: 1000px) {
  .sign-up-page,
  .log-in-page {
    max-height: 90vh;
    width: 100vw;
    margin: 0;
    font-size: 1em;
    color: $secondary;

    .auth-page {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;

      .left-information {
        height: 90vh;
        background-image: url("../assets/blob.svg");
        background-repeat: no-repeat;
        background-size: 20em;
        background-position: 2vw 4em;

        .signup-form-motto {
          font-family: "Nunito";
          font-style: normal;
          font-weight: 600;
          font-size: 2.6em;
          line-height: 9vh;
          margin-top: 3em;
          width: 6em;
          margin-left: 4.5vw;
        }
        .signup-form-secondary-motto {
          margin-top: 7rem;
          margin-left: 2em;
          font-size: 1.2em;
        }
        .text-already-have-account {
          text-align: center;
        }
      }
      .right-information {
        height: 100%;

        margin: 0;
        width: 90%;
        margin: auto;
        margin-right: 3vw;
        max-height: 90vh;
        margin-top: 5vh;

        .signup-form {
          height: 80%;
          display: grid;
          grid-template-rows: 2fr 2fr 2fr 2fr 1fr 2fr;
          grid-gap: 10px;

          button {
            max-height: 64px;
            border-radius: 4px;
            font-size: 22px;
            padding-left: 13px;
            border: none;
            cursor: pointer;
          }
          .full-width-div {
            display: block;
            label {
              display: inline-block;
              position: relative;
              top: 18px;
              left: 12px;
              background-color: $white;
              padding-left: 10px;
              padding-right: 10px;
              .error-message {
                color: red;
                font-size: 0.5em;
              }
            }

            input {
              border-radius: 4px;
              font-size: 22px;
              padding-left: 13px;
              height: 100%;
              max-height: 64px;
              width: 96%;
            }
          }
          .full-width-div-error {
            color: red;
            input {
              border-color: red;
              color: red;
            }
          }

          .two-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;

            .half-width-div {
              display: block;

              label {
                display: inline-block;
                position: relative;
                top: 18px;
                left: 12px;
                background-color: $white;
                padding-left: 10px;
                padding-right: 10px;
                .error-message {
                  display: inline;
                  font-size: 0.6em;
                }
              }
              input {
                border-radius: 4px;
                font-size: 22px;
                padding-left: 13px;
                height: 100%;
                max-height: 64px;
                width: 92%;
              }
            }
            .half-width-div-error {
              color: red;
              input {
                border-color: red;
              }
            }
          }
        }
        .alternative-sign-up-div {
          display: grid;
          grid-template-rows: 1fr 2fr;
          grid-gap: 10px;
          height: 20%;
          margin-bottom: 50px;
          .div-or {
            text-align: center;
            justify-content: center;
            font-size: 2em;
            hr {
              margin-top: 1.6em;
              width: 90%;
              color: $secondary;
            }
            .text-or {
              background-color: white;
              width: 1.5em;
              margin: auto;
              margin-top: -1.3em;
            }
          }
          .sign-up-with-google {
            align-items: center;
            width: 100%;

            border: none;
            height: 66px;
            border-radius: 4px;
            font-size: 1em;
            padding-left: 13px;
            img {
              position: relative;
              float: left;
              top: 4px;
              left: 6px;
              flex-grow: 0;
              z-index: 1;
            }
            .sign-up-with-google-text {
              line-height: 64px;
              font-family: $secondary-font-family;
              margin-top: -3px;
            }
          }
        }
      }
      .redirect-link-mobile {
        display: none;
      }
      .form-checkbox {
        .redirect-link-mobile {
          display: none;
        }
        margin-top: 20px;
        font-size: 1.2em;
        margin-bottom: 30px;
        * {
          display: inline;
          font-size: smaller;
        }
        .form-agree-checkbox {
          width: 20px;
          height: 20px;
          background: $white;
          border: 0.5px solid $black;
          border-radius: 3px;
          margin-right: 15px;
        }
      }
      .sign-up-button {
        min-height: 5vh;
        cursor: pointer;
      }
    }
  }
}
