@import "../scss/theme.scss";
@media only screen and (max-width: 1000px) {
  .sign-up-page,
  .log-in-page {
    height: 95vh;
    width: 100vw;
    margin: 0;
    font-size: 1em;
    color: $secondary;

    .left-information {
      display: none;
    }
    .right-information {
      height: 85vh;
      @media only screen and (min-width: 640px) {
        padding-top: 5vh;
      }

      margin-top: 5vh;
      width: 90vw;
      max-width: 400px;
      margin: auto;
      .signup-form {
        margin: 0;
        width: 100%;
        margin: auto;
        height: 85%;

        display: grid;

        grid-gap: 15px;

        button {
          border: none;
          height: 60px;
          border-radius: 4px;
          font-size: 22px;
          padding-left: 13px;
        }
        .full-width-div {
          display: block;
          label {
            position: relative;
            top: 18px;
            left: 12px;
            background-color: $white;
            padding-left: 10px;
            padding-right: 10px;
          }
          input {
            border-radius: 4px;
            font-size: 22px;
            padding-left: 13px;
            height: 100%;
            max-height: 40px;
            width: 96%;
          }
        }
        .full-width-div-error {
          color: red;
          input {
            border-color: red;
            color: red;
          }
        }

        .two-row {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 10px;

          .half-width-div {
            display: block;

            label {
              position: relative;
              top: 18px;
              left: 12px;
              background-color: $white;
              padding-left: 10px;
              padding-right: 10px;
            }
            input {
              border-radius: 4px;
              font-size: 22px;
              padding-left: 13px;
              height: 100%;
              max-height: 64px;
              width: 92%;
            }
          }
          .half-width-div-error {
            color: red;
            input {
              border-color: red;
              color: red;
            }
          }
        }
      }
    }
    .alternative-sign-up-div {
      display: grid;
      grid-template-rows: 1fr 2fr;
      grid-gap: 10px;
      height: 15%;
      margin-bottom: 50px;
      .div-or {
        text-align: center;
        justify-content: center;
        font-size: 1.5em;
        hr {
          margin-top: 1.6em;
          width: 90%;
          color: $secondary;
        }
        .text-or {
          background-color: white;
          width: 1.5em;
          margin: auto;
          margin-top: -1.3em;
        }
      }
      .sign-up-with-google {
        align-items: center;
        max-height: 66px;
        button {
          border: none;
          height: 60px;
          border-radius: 4px;
          font-size: 22px;
          padding-left: 13px;
        }
        img {
          position: relative;
          float: left;
          top: 4px;
          left: 6px;
          flex-grow: 0;
        }
        .sign-up-with-google-text {
          line-height: 64px;
          font-family: $secondary-font-family;
          margin-top: -3px;
        }
      }
    }
    .redirect-link-mobile {
      display: block;
      font-size: 1.2em;
    }
    .form-checkbox {
      margin-top: 20px;
      font-size: 1.2em;
      margin-bottom: 30px;
      * {
        display: inline;
        font-size: smaller;
      }
      .form-agree-checkbox {
        width: 20px;
        height: 20px;
        background: $white;
        border: 0.5px solid $black;
        border-radius: 3px;
        margin-right: 15px;
      }
      .redirect-link-mobile {
        display: block;
        font-size: 1.2em;
      }
    }
  }
}
