@import "../scss/theme.scss";
.forgot-password-page {
  margin: auto;
  width: 60vw;
  height: 40vh;
  margin-top: 30vh;

  h1 {
    color: $blue;
    text-align: center;
  }
  form {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 3em;

    margin: 0 auto;
    label {
      margin: auto;
    }

    input {
      padding: 0.5rem;
      border: 1px solid $border;
      border-radius: 4px;
      width: 60%;
    }

    button {
      margin: auto;
      padding: 0.5rem;
      background-color: $primary;
      border: none;
      border-radius: 4px;
      color: $secondary;
      font-weight: bold;
      height: 3em;
      cursor: pointer;
    }
  }
}
@media only screen and (max-width: 640px) {
  .forgot-password-page {
    width: 100%;
    margin-top: 10vh;
    font-size: 1.2em;
    form {
      height: 30vh;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
