@import "../scss/theme.scss";
.verify-email-container {
  position: absolute;
  top: 1em;
  right: 1em;
  border: solid 1px $border;
  padding: 2em 1em 1em 1em;
  background-color: $red-light-x;

  .verify-email-close-button {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
