.logo-main {
  height: 10vh;
  width: 5vh;
  min-width: 75px;

  background-image: url("../assets/logos/logo-small.png");
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: center;
  align-self: center;
}
