$primary: #ffe061;
$secondary: #0a3749;
$white: #ffffff;
$black: #000000;
$border: #868091;
$secondary-font-family: "Inter";
$blue: #4040f2;
$light-blue: #f7f7fb;
$color-success: #4bb543;
$color-fail: #ff3333;
$primaryLight: #ffe06180;
$font-family: "Nunito", sans-serif;
